<!DOCTYPE html>
<html>
<head>
  <title>Golf tip generator</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="col-xs-3">
      <%= link_to root_path, :class => 'logo' do %>
        <div class="circle">
          <br />
          Golf
          <br />
          Tip
          <br />
          Generator
        </div>
      <% end %>
    </div>
    <!-- <div class="col-xs-3 hidden-xs hidden-sm slogan">

    </div> -->
    <div class="col-xs-8 right col-xs-offset-0 col-sm-3 links pull-right">
      <%= link_to 'Contribute', '#', :data => {:toggle => 'modal', :target => '#myModal'} %>
      &nbsp;&nbsp;
      <%= link_to 'About', about_path %>
    </div>
  </header>

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Contribute a tip</h4>
        </div>
        <%= simple_form_for Quote.new do |f| %>
          <div class="modal-body">
            <%= f.input :saying, :label => 'Quote', :placeholder => 'Add your quote' %>
            <br />
            <%= f.input :author, :label => 'Author', :placeholder => 'Add your name' %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <%= f.submit 'Create', :class => 'btn btn-danger' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <br class="clear"/>

  <div class="container">
      <% if flash[:error].present? %>
      <div class="col-xs-10 col-xs-offset-1 alert alert-danger">
        <%= flash[:error].html_safe %>
      </div>
    <% end %>
    <div class="center">
      <%= yield %>
    </div>
  </div>
  <div class="next footer-blurb">
    <%= link_to "Next Tip", root_path %>
    <!-- <span class="arrow">&raquo;</span> -->
  </div>


  <!-- FOOTER -->
  <div class="footer">
    <div class="container">
      <!-- <div class="col-xs-12 col-sm-6">

      </div> -->
      <div class="col-xs-12 col-sm-6 footer-blurb pull-right">
        Built in Chicago, by <a href="https://github.com/adevenuto">Anthony DeVenuto</a>
        <!-- <br />
        Want to build your own Splurty Web App - <a href="http://thefirehoseproject.com">Learn how to code here</a> -->
      </div>
    </div>
  </div>

</body>
</html>
